services:
  db:
    image: postgres:18
    container_name: postgres_diabetes
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_HOST_PORT}:${POSTGRES_CONTAINER_PORT}
    restart: always
    volumes:
      - postgres_diabetes_data:/var/lib/postgresql/

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_diabetes
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - ${PGADMIN_HOST_PORT}:${PGADMIN_CONTAINER_PORT}
    restart: always
    depends_on:
      - db

  metabase:
    image: metabase/metabase:latest
    container_name: metabase_diabetes
    ports:
      - ${METABASE_HOST_PORT}:${METABASE_CONTAINER_PORT}
    restart: always
    volumes:
      - metabase_diabetes_data:/metabase-data
    depends_on:
      - db
  etl:
    build: ./dw_load
    container_name: etl_diabetes
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
    volumes:
      - ./data:/app/data
    depends_on:
      - db

volumes:
  postgres_diabetes_data:
  metabase_diabetes_data:
