services:
  db:
    image: "${POSTGRES_IMAGE}"
    container_name: "${PROJECT_NAME}_postgres"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "${POSTGRES_HOST_PORT}:${POSTGRES_INTERNAL_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: "${PGADMIN_IMAGE}"
    container_name: "${PROJECT_NAME}_pgadmin"
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_DEFAULT_EMAIL}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
    ports:
      - "${PGADMIN_HOST_PORT}:80"
    depends_on:
      - db

  metabase:
    image: "${METABASE_IMAGE}"
    container_name: "${PROJECT_NAME}_metabase"
    ports:
      - "${METABASE_HOST_PORT}:3000"
    volumes:
      - metabase_data:/metabase-data
    environment:
      # Metabase usa una base para guardar su metadata.
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: "${POSTGRES_DB}"
      MB_DB_PORT: "${POSTGRES_INTERNAL_PORT}"
      MB_DB_USER: "${POSTGRES_USER}"
      MB_DB_PASS: "${POSTGRES_PASSWORD}"
      MB_DB_HOST: db
    depends_on:
      - db

  etl:
    build:
      context: "${ETL_BUILD_PATH}"
    container_name: "${PROJECT_NAME}_etl"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_HOST: db
      POSTGRES_PORT: "${POSTGRES_INTERNAL_PORT}"
    volumes:
      - ./data:/app/data
    depends_on:
      - db

volumes:
  postgres_data:
  metabase_data:
